* {
	box-sizing: border-box;
}

.border {
	background: white;
	position: fixed;
	z-index: 0;
}

#top, #bottom {
	left: 0;
	right: 0;
}

#top {
	top: 0;
	height: 35px;
}

#bottom {
	bottom: 0;
	height: 30px;
}

#left, #right {
	width: 30px;
	top: 0;
	bottom: 0;
}

#left {
	left: 0;
}

#right {
	right: 0;
}

.main {

}
.main-image {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	margin: -5px;
	padding: 0;
	overflow-x: hidden;
}

#logo {
	width: 100px;
	top: 10px;
	z-index: 1;
	position: fixed;
	left: 50%;
	transform: translate(-50%,0);

}

#logo img {
	max-width: 100%;
}