body {
  background-color: red;
}

#pupilleft {
  position: relative;
  background: #000000;
  border-radius: 50%;
   width: 18px;
  height: 18px;
}

#eyeleft{
  position: absolute;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 50% / 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  width: 80px;
  height: 30px;
  left: 250px;
}
